*, *::before, *::after{
  box-sizing: border-box;
}
h2 {
  background-color: #273246;
  text-align: center;
  color: white;
  margin-bottom: 0;
}
div.gptoutput {
  background-color: #273246;
  color: white;
}
div.character {
  background-color: #273246;
  color: white;
}

.character {
  margin-right: auto;
  margin-left: 0;

}
.character #character {
  width: 25em;
  
}

#Line {

  background-color: #7494c0;
  position: relative;
  
}

.myQuestion {
  background-color: #8de055;
  border-radius: 10px;
  padding: 0.3em;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
  width:fit-content;
  max-width: 60%;
  position: relative;
  right: 5px;
}

.gptResponse {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.3em;
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 0.5em;
  
  width:fit-content;
  max-width: 60%;
  position: relative;
  left: 15px;
  
}


#user-click {
  display: flex;
  justify-content: end;
}
#use-clilck input {
  width: 50%;
}
